RewriteEngine On
RewriteBase /medic/

# Exclude /medic/admin from rewriting
RewriteRule ^admin($|/) - [L]

# Rewrite URLs from /course-details/123 to /course-details.php?id=123
RewriteRule ^course-details/([^/]+)$ course-details.php?id=$1 [QSA,NC,L]

# Rewrite URLs from /college-details/123 to /college-details.php?id=123
RewriteRule ^college-details/([^/]+)$ college-details.php?id=$1 [QSA,NC,L]

# Rule when only two parameters are present
RewriteRule ^colleges/([^/]+)/([^/]+)$ colleges.php?filter1=$1&filter2=$2 [L]

# Rule when only one parameter is present
RewriteRule ^colleges/([^/]+)$ colleges.php?filter1=$1 [L]

# Rewrite URLs to add .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ $1.php [NC,L]
